/* body {
  background-image: url("https://th.bing.com/th/id/OIP.Bf7hjkhGyYFth4ywLnddbwHaEK?pid=ImgDet&rs=1");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100% 100%;
} */
.title {
  display: flex;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  background: (rgb(18, 13, 145));
  margin-top: 1%;
  margin-bottom: auto;

  -webkit-text-fill-color: transparent;
}

.productList1 {
  display: flex;
  width: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://previews.123rf.com/images/arrow/arrow1508/arrow150800028/43966988-online-shopping-e-commerce-concept-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100% 100%;
  height: 79vh;
}

.productList1 input {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 440px;
  height: 28px;
  margin-left: 10px;
  margin-right: 10px;
}

.productList1 button:hover {
  width: 375px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(151, 147, 148);
}

.productList1 select {
  padding-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 340px;
  height: 28px;
  margin-left: 10px;
  margin-right: 10px;
}

.productList1 label {
  font-size: 20px;
}

.grid {
  margin: 30px 10% 10px 10%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.setInVar {
  padding: 10px;
  height: auto;
  background-color: rgb(232, 229, 207);
  border: 3px solid;
  border-radius: 4%;
}

.setInVar span {
  font-weight: bold;
}

.setInVar button:hover {
  width: 40%;
  height: 30%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: rgb(151, 147, 148);
}
/* .list2 {
    background-image: url("https://th.bing.com/th/id/OIP.Bf7hjkhGyYFth4ywLnddbwHaEK?pid=ImgDet&rs=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100% 100%;
    margin-top: -10vh;
  } */
